/* font */
@import url('https://fonts.googleapis.com/css2?family=Karla:wght@400;700&display=swap');
/* global */
:root{
    --cyan: hsl(179, 62%, 43%);
    --cyan2: rgba(74,190,189,255);
    --bright-yellow: hsl(71, 73%, 54%);
    --light-gray: hsl(204, 43%, 93%);
    --grayish-blue: hsl(218, 22%, 67%);
    --info-gray2:rgba(186,189,198,255);
    --info-price:#7ae1df;

    --sm:1.5rem;
    --md:1.6rem;
    --lg: 2.0rem;
    --xl:3.4rem;
    --xs:1.35rem;
    font-size: 62.5%;
}
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body{
    font-family: 'Karla', sans-serif;
    background-color: var(--light-gray);
}
main{
    display: grid;
    place-items: center;

    width: 100vw;
    height: 98vh;
}
.card{
    display: grid;
    grid-template-rows: 36% 30% 34%;

    width:33.5rem ;
    height: 83%;
    min-height: 70.0rem;

    background-color: var(--light-gray);
    border-radius: .5rem;
}
.card__title{
    font-size: var(--lg);
    font-weight: 700;
}
.joinTitle{
    color: var(--cyan);
}
.priceTitle{
    color: var(--light-gray);
}
.whyTitle{
    color: var(--light-gray);
}
.card__subtitle{
    font-size: var(--md);
    font-weight: 700;
    color: var(--bright-yellow);
}
.card__info{
    font-size: var(--sm);
    font-weight: 400;
    color: var(--light-gray);
    line-height: 2.4rem;
}
.joinInfo{
    color: var(--info-gray2);
}
.whyInfo{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.whyRow{
    color: var(--light-gray);
    line-height: 2.6rem;
}
.price{
    margin-right: 1.2rem;

    color: var(--light-gray);
    font-weight: 700;
    font-size: var(--xl);
}
.priceInfoMonth{
    color: var(--info-price);
}
.priceInfo{
    color: var(--light-gray);
    font-weight: 400;
}
.boxes{
    padding: 1.0rem 2.4rem 1.0rem 2.4rem;
}
.card__join{
    display: grid;
    grid-template-rows: 30% 15% 55%;
    place-items: center start;

    background-color: white;
    border-radius: 1.0rem 1.0rem 0rem 0rem;
}

.card__price{
    display: grid;
    grid-template-rows: 25% 25% 20% 30%;
    place-items: center start;

    background-color: var(--cyan);
}
.card__price p:nth-child(3){
    align-self: baseline;
}
.card__why{
    display: grid;
    grid-template-rows: 25% 75%;
    place-items: center start;

    padding-bottom: 2.4rem;

    background-color: var(--cyan2);
    border-radius: 0rem 0rem 1.0rem 1.0rem;
}
.card__priceLine{
    display: flex;
    align-items: center;
}
.btn{
    width: 100%;
    height: 5.0rem;

    font-family: 'Karla', sans-serif;
    font-weight: 700;
    font-size: var(--md);
    color: var(--light-gray);
    background-color: var(--bright-yellow);
    border-radius: 1.0rem;
    border: none;
}
.btn:hover{
    background-color:hsla(71, 73%, 54%, 0.808);
    
}
@media (min-width:1060px) {
    .card{
        grid-template-rows: 40% 60%;
        grid-template-columns: 50% 50%;
        
        max-width: 73.0rem;
        width: 50%;
        height: 65%;
        min-height: 40.0rem;
        max-height: 50.0rem;
    }
    .boxes{
        
        padding: 2.0rem 4.0rem 2.0rem 4.0rem;
    }
    .card__join{
        grid-template-rows: 30% 20% 50%;
        grid-area: 1/1/2/3;
    }
    .card__price{
        border-radius: 0rem 0rem 0rem 1.0rem;
    }
    .card__why{
        border-radius: 0rem 0rem 1.0rem 0rem;
        grid-template-rows: 17% 83%;
    }
    .card__why p:nth-child(1){
        align-self: last baseline;
    }
    .whyRow{
        line-height: 2.0rem;
        font-size: var(--xs);
    }
    
}